# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual Environment
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# OSC
.DS_Store
Thumbs.db

# Logs
*.log
